!!! 5
html(lang="en")
  head
    title Privacy Preserving Transcription
    link(rel="stylesheet/less", type="text/css", href="styles/base.less")
    link(rel="stylesheet/less", type="text/css", href="styles/index.less")
    script(type="text/javascript", src="/js/less.min.js")
    script(type="text/javascript", src="/js/dormouse.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")

    :coffeescript
      dormouse.server 'http://arya.stanford.edu:3777'
      dormouse.api_key '6b044f121358683678e5e21de2202a5e0a0394d5' # XXX should not be used
      dormouse.user 'zahanm' # XXX should only be retrievable - set remotely
      dormouse.project_id = 21 # transcrowdify
      $(document).ready ->
        q = dormouse.getTasks()
        q.where 'project_id', dormouse.project_id
        q.limit 1
        q.run (tasks) ->
          task = tasks[0]
          $.ajax
            url: '/templates/transcribe.html'
            success: (snippet) ->
              rendered = dormouse.render snippet, task
              $('#task').html rendered
            dataType: 'html'

  body
    div#container.row
      div#hdr.column.grid_12
        h1 Journal transcribing happening here
      nav#sidebar.column.grid_3
        ul
          li
            a(href="status") Transcription Status
      div#main.column.grid_9
        div#task
          center#loading
            img(src="/images/loading.gif")
          p#nothing
            strong Nothing to transcribe currently, please upload a journal
        hr
        form(action="/upload", enctype="multipart/form-data", method="post")
          p
            label(for="upload[title]") Title
            input(type="text", placeholder="Journal title", id="upload[title]", name="upload[title]")
          p
            label(for="upload[file]") Journal PDF
            input(type="file", id="upload[file]", name="upload[file]", accept="application/pdf")
          p
            input(type="submit", value="Upload")
