!!! 5
html(lang="en")
  head
    title Privacy Preserving Transcription
    link(rel="stylesheet/less", type="text/css", href="styles/base.less")
    block scripts
      script(type="text/javascript", src="/js/less.min.js")

  body
    h1 Journal transcribing happening here
    div#container
      p Hi there!
