!!! 5
html(lang="en")
  head
    title Privacy Preserving Transcription
    link(rel="stylesheet/less", type="text/css", href="styles/base.less")
    link(rel="stylesheet/less", type="text/css", href="styles/index.less")
    script(type="text/javascript", src="/js/less.min.js")
    script(type="text/javascript", src="/js/dormouse.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")

    :coffeescript
      $dm.server 'http://journal.dormou.se:8080'
      $dm.api_key '5e60e715dff55d0ad0f4d807d1cc6dd6d1d044c3' # XXX should not be used
      $dm.user = 'zahanm' # XXX should only be retrievable - set remotely
      $dm.project_id = 1 # transcrowdify
      template_urls =
        1: '/templates/transcribe.html' # zahanm/transcribe.template
        2: '/templates/categorize.html' # zahanm/categorize.template
      $(document).ready ->
        q = $dm.getTasks()
        q.eq 'project_id', $dm.project_id
        q.iscomplete false
        if '?exclude=' in document.location.href # poor man's query string parsing
          s = document.location.href
          start = s.indexOf('?exclude=') + '?exclude='.length
          end = if s.indexOf('&') >= 0 then s.indexOf('&') else s.length
          exclude = s.slice start, end
          q.ne 'segment_id', exclude
        q.order_by '?'
        q.limit 1
        q.run (err, tasks) ->
          if err or not tasks.length
            $('#loading').hide()
            return $('#nothing').show()
          task = tasks[0]
          $.get template_urls[task.template_id], (snippet) ->
            rendered = $dm.render snippet, task
            $('#task').html rendered

  body
    div#container.row
      div#hdr.column.grid_12
        center
          h2 Journal Transcription
      nav#sidebar.column.grid_3
        center.text
          p
            a(href="/status") Status
        hr
        center.text
          strong Upload
        form.text(action="/upload", enctype="multipart/form-data", method="post")
          p
            label(for="upload[title]") Title
            input(type="text", placeholder="Journal title", id="upload[title]", name="upload[title]")
          p
            label(for="upload[email]") Email
            input(type="text", placeholder="Notification email", id="upload[email]", name="upload[email]")
          p
            label(for="upload[file]") Journal PDF
            input(type="file", id="upload[file]", name="upload[file]", accept="application/pdf")
          p
            input(type="submit", value="Upload")
      div#main.column.grid_9
        div#task.text
          center#loading
            img(src="/images/loading.gif")
          p#nothing
            strong Nothing to transcribe currently, please upload a journal
