!!! 5
html(lang="en")
  head
    title Privacy Preserving Transcription
    link(rel="stylesheet/less", type="text/css", href="styles/base.less")
    link(rel="stylesheet/less", type="text/css", href="styles/index.less")
    script(type="text/javascript", src="/js/less.min.js")
    script(type="text/javascript", src="/js/dormouse.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")

    :coffeescript
      $dm.server 'http://arya.stanford.edu:3777'
      $dm.api_key '6b044f121358683678e5e21de2202a5e0a0394d5'
      $dm.project_id = 20
      $dm.template_id = 10
      random_choice = (seq) ->
        if seq instanceof Array
          r = Math.floor( Math.random() * seq.length )
          k = r
        else
          k = random_choice Object.keys seq
        seq[k]
      setup_task = (t) ->
        # -- DEBUG
        for own k, v of t.parameters
          console.log k, v
        t.parameters['mode'] = t.parameters['mode'] || 'text'
        # -- onwards
        $('#segment').attr 'src', '/images/tmpS_mdRM_4.png'
        $('#segment').attr 'width', '100%'
        $('#transcribe[mode]').val t.parameters['mode']
        if t.parameters['mode'] is 'text'
          $('#prompt').text 'Please transcribe the text'
        else
          $('#prompt').text 'Please transcribe the math'
      submit_task = (response) ->
        mode = $(response).children('#transcribe[mode]').val()
        transcription = $(response).children('#transcribe[content]').val()
        # SUBMIT IT TO DORMOUSE
      $(document).ready ->
        # -- override form transcribe submit
        $('#transcribe').submit (e) ->
          submit_task e.target
          false
        # -- get tasks from this project
        $dm.getTasks (tasks) ->
          tasks = tasks.filter (t) ->
            t.task.project_id is $dm.project_id
          setup_task random_choice(tasks)['task']

  body
    div#container.row
      div#hdr.column.grid_12
        h1 Journal transcribing happening here
      nav#sidebar.column.grid_3
        ul
          li Sidebar
          li Siderbar item 2
      div#main.column.grid_9
        center
          img#segment(src="/images/loading.gif")
        form(action="/transcribe", id="transcribe")
          p
            label(for="transcribe[content]", id="prompt") Please transcribe the text
          textarea(placeholder="Transcription", id="transcribe[content]", name="transcribe[content]", tabindex="1")
          input(type="hidden", id="transcribe[mode]", name="transcribe[mode]")
          p
            input(type="submit", value="Transcribe")
        hr
        form(action="/upload", enctype="multipart/form-data", method="post")
          p
            label(for="upload[title]") Title
            input(type="text", placeholder="Journal title", id="upload[title]", name="upload[title]")
          p
            label(for="upload[file]") Journal PDF
            input(type="file", id="upload[file]", name="upload[file]", accept="application/pdf")
          p
            input(type="submit", value="Upload")
