!!! 5
html(lang="en")
  head
    title Transcription Status
    link(rel="stylesheet/less", type="text/css", href="styles/base.less")
    block scripts
      script(type="text/javascript", src="/js/less.min.js")

  body
    div#container.row
      div#hdr.column.grid_12
        h1 Journal transcribing status
      nav#sidebar.column.grid_3
        ul
          li Sidebar
          li Siderbar item 2
      div#main.column.grid_9
        if errors.length
          ul.error
            each error in errors
              li #{error}
        p This is where we will show you how many segments are done and what is left, maybe?
