!!! 5
html(lang="en")
  head
    title Transcription Status
    link(rel="stylesheet/less", type="text/css", href="styles/base.less")
    script(type="text/javascript", src="/js/less.min.js")
    script(type="text/javascript", src="/js/dormouse.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript", src="/js/jade.js")

    :coffeescript
      $dm.server 'http://arya.stanford.edu:3777'
      $dm.api_key '6b044f121358683678e5e21de2202a5e0a0394d5'
      $dm.project_id = 20 # XXX new transcrowdify id => 21
      $dm.template_id = 10 # XXX need new transcrowdify template
      jade = require 'jade'
      template_str = '
      ul#tasks_status
        each t in tasks
          if t.task.responses && t.task.responses.length
            li \#{t.task.name} is complete
          else
            li \#{t.task.name} is pending
      '
      console.log template_str
      template_fn = jade.compile template_str, compileDebug: false
      $(document).ready ->
        $dm.getTasks (tasks) ->
          tasks = tasks.filter (t) ->
            t.task.project_id is $dm.project_id
          $('#tasks_status').html template_fn tasks: tasks

  body
    div#container.row
      div#hdr.column.grid_12
        h1 Journal transcribing status
      nav#sidebar.column.grid_3
        ul
          li Sidebar item 1
          li Siderbar item 2
      div#main.column.grid_9
        if errors.length
          ul.error
            each error in errors
              li= error
        div#tasks_status
          center
            img(src="/images/loading.gif")
