
div#task.text
  form(method="post", action="#{submit}", id="task_form")
    !{task}
    if assignmentId
      input(type="hidden", id="assignmentId", name="assignmentId", value="#{assignmentId}")
    else
      h3 You must accept the hit before you can do the task.
      script(type="text/javascript")
        document.getElementById('submit_button').disabled = true;
