!!! 5
html(lang="en")
  head
    title Transcribed
    link(rel="stylesheet/less", type="text/css", href="/styles/transcribed.less")
    script(type="text/javascript", src="/js/less.min.js")
    script( type="text/javascript", src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" )

  body
    div#page
      each s in segments
        p !{s}
