!!! 5
html(lang="en")
  head
    title Transcribed
    script( type="text/javascript", src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" )

  body
    div
      | Does this turn into math? $$ E = m c^{2} $$
      each s in segments
        p !{s}
