<!-- Dormouse-Task-Meta

input:
 - segment

parameters:
 - segment_url
 - segment_id

response:
 - id
 - mode

-->

<center>
  <img id="segment" src="{{ segment_url }}" width="100%"></img>
</center>

<p>
  <label for="categorize[content]" id="prompt">Does this segment contain math or text?</label>
</p>
<select id="categorize[content]" name="categorize[content]" autofocus>
  <option value="text" selected>Text</option>
  <option value="math">Math</option>
</select>
<input type="hidden" id="categorize[task_id]" name="categorize[task_id]" value="{{ id }}">
<input type="hidden" id="categorize[segment_id]" name="categorize[segment_id]" value="{{ segment_id }}">
<p>
  <input type="submit" value="Categorize">
</p>
