<!-- Dormouse-Task-Meta

input:
 - segment

parameters:
 - segment_url
 - mode
 - segment_id

response:
 - id
 - transcription

-->

<center>
  <img id="segment" src="{{ segment_url }}" width="100%"></img>
</center>
<form action="/transcribe" method="post" id="transcribe">
  <p>
    <label for="transcribe[content]" id="prompt">Please transcribe the {{ mode }}</label>
  </p>
  <textarea id="transcribe[content]" placeholder="Transcription" name="transcribe[content]" tabindex="1"></textarea>
  <input type="hidden" id="transcribe[_id]" name="transcribe[_id]" value="{{ segment_id }}">
  <p>
    <input type="submit" value="Transcribe">
  </p>
</form>
