
// -- less grid

@columnWidth: 80px;
@gutter: 5px;

@allColumns: @columnWidth * 12;
@allGutters: (@gutter * 12) * 2;
@totalWidth: @allColumns + @allGutters;

.theWidth (@theColumn: 1, @theGutter: 0) {
  width: (@columnWidth * @theColumn) + (@gutter * @theGutter);
}


.grid_1 { .theWidth(1,0); }
.grid_2 { .theWidth(2,2); }
.grid_3 { .theWidth(3,4); }
.grid_4 { .theWidth(4,6); }
.grid_5 { .theWidth(5,8); }
.grid_6 { .theWidth(6,10); }
.grid_7 { .theWidth(7,12); }
.grid_8 { .theWidth(8,14); }
.grid_9 { .theWidth(9,16); }
.grid_10 { .theWidth(10,18); }
.grid_11 { .theWidth(11,20); }
.grid_12 { .theWidth(12,22); }

.column {
  margin: 0 @gutter;
  overflow: hidden;
  float: left;
  display: inline;
}
.row {
  width: @totalWidth;
  margin: 0 auto;
  overflow: hidden;
}
.row .row {
  margin: 0 (@gutter * -1);
  width: auto;
  display: inline-block;
}

/* less variables */

@light-blue:   hsl(190, 50%, 65%);
@light-yellow: desaturate(#fefec8, 10%);
@dark-yellow:  desaturate(darken(@light-yellow, 10%), 40%);
@darkest:      hsl(20, 0%, 15%);
@dark:         hsl(190, 20%, 30%);
@medium:       hsl(10, 60%, 30%);
@light:        hsl(90, 40%, 20%);
@lightest:     hsl(90, 20%, 90%);
@highlight:    hsl(80, 50%, 90%);
@blue:         hsl(210, 60%, 20%);
@alpha-blue:   hsla(210, 60%, 40%, 0.5);

.box-shadow (@x, @y, @blur, @alpha) {
  @value: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow:         @value;
  -moz-box-shadow:    @value;
  -webkit-box-shadow: @value;
}

.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

/* common stuff */

body {
  background-color: @light-blue;
  font-family: 'Georgia', serif;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

#hdr {
  background-color: @blue;
  color: white;
  margin-bottom: 10px;
  .box-shadow(0, 5px, 5px, 0.2);
  .border-radius(2px);
}

.greybox {
  background-color: lighten(@light-blue, 25%);
  color: @blue;
  .box-shadow(0, 5px, 5px, 0.2);
  .border-radius(2px);
}

#sidebar {
  .greybox;
}

#main {
  .greybox;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}
